@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #b64ec3;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: poppins;
    background-color: #fff4ff;
}

.max-w-screen-xl {
    max-width: 1160px !important;
}

#nav li a.active-page,
#nav li a {
    position: relative;
    text-transform: capitalize;
}

#nav li a:after {
    position: absolute;
    content: "";
    width: 0%;
    height: 2px;
    background: #9747ff;
    left: 0;
    bottom: -6px;
    border-radius: 5px;
    transition: 500ms;
}

#nav li:hover a:after,
#nav li a.active-page:after {
    width: 75%;
}

/* go to top start */

.back-to-top {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    border-radius: 100%;
    background: #0052fe;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    opacity: 100%;
    transition: opacity 0.5s;
    z-index: 1;
}

.back-to-top:hover {
    opacity: 60%;
}

.hide {
    opacity: 0%;
}

.back-to-top-icon {
    width: 1rem;
    height: 1rem;
    color: #ffffff;
}

.progress-bar {
    height: 2px;
    background: #0050fe3a;
    position: fixed;
    top: 0;
    left: 0;
}

/* go to top end */
/*Animations*/
@keyframes spin {
    to {
        transform: rotate(-360deg);
    }
}

.recalculate-btn:hover svg {
    animation: spin 1s linear infinite;
}

.blob {
    /* background: rgba(52, 172, 224, 1); */
    box-shadow: 0 0 0 0 rgb(189 5 162);
}

.cal-box:hover .blob {
    animation: pulse-blue 2s infinite;
}

.cal-options a:hover .blob {
    animation: pulse-blue 2s infinite;
}

.blob.infinity {
    animation: pulse-blue 2s infinite;
}

@keyframes pulse-blue {
    0% {
        box-shadow: 0 0 0 0 rgba(189, 5, 162, 0.7);
    }

    70% {
        box-shadow: 0 0 0 10px rgba(189, 5, 162, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(189, 5, 162, 0);
    }
}

/* Animation End */
/* section title-animation start */
.section-title h3,
.section-title h1 {
    position: relative;
    padding-bottom: 15px;
    display: inline-block;
}

.section-title h3:after,
.section-title h1:after {
    content: "";
    width: 30%;
    height: 5px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #b64ec3;
    border-radius: 10px;
    transition: all 0.5s cubic-bezier(0.78, -0.58, 0.14, 1.53);
}

section:hover .section-title h3:after,
section:hover .section-title h1:after {
    width: 50%;
}

/* section title-animation end */
/* section pattern start */
.bg-pattern {
    position: relative;
}

.bg-pattern:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(/img/pattern-bg-01.2.svg), url(/img/pattern-bg-01.3.svg);
    background-position: 100% 50%, 0% 90%;
    background-repeat: no-repeat;
    opacity: 0.1;
    z-index: -1;
    background-size: 50%;
    background-attachment: fixed;
}

.b-strip {
    position: relative;
}

.b-strip:after {
    position: absolute;
    width: 100%;
    content: "";
    height: 110px;
    bottom: 0;
    right: 0;
    background: url("/img/right-angle.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
    background-attachment: scroll;
    z-index: -1;
}

/* section pattern end */
/* tab start */
.data-\[te-nav-active\]\:active-arrow {
    position: relative;
}

.data-\[te-nav-active\]\:active-arrow[data-te-nav-active]:after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    right: 10px;
    top: 50%;
    background: url("/img/tab-arrow.svg");
    transform: translateY(-50%);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: auto;
}

.tab-content-area .inner-content, #accordion-b .inner-content{
    position: relative;
    z-index: 1;
    height: 100%;
}

.tab-content-area .inner-content:after, #accordion-b .inner-content:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 355px;
    bottom: 0;
    right: 0;
    z-index: -1;
    opacity: 0.05;
}

#tabs-01 .inner-content:after, #collapse-1 .inner-content:after{
    background: url("/img/tab/01.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: bottom right;
}

#tabs-02 .inner-content:after, #collapse-2 .inner-content:after {
    background: url("/img/tab/02.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: bottom right;
}

#tabs-03 .inner-content:after, #collapse-3 .inner-content:after {
    background: url("/img/tab/03.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: bottom right;
}

#tabs-04 .inner-content:after, #collapse-4 .inner-content:after {
    background: url("/img/tab/04.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: bottom right;
}

#tabs-05 .inner-content:after, #collapse-5 .inner-content:after {
    background: url("/img/tab/05.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: bottom right;
}

#tabs-06 .inner-content:after, #collapse-6 .inner-content:after {
    background: url("/img/tab/06.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: bottom right;
}

#tabs-07 .inner-content:after, #collapse-7 .inner-content:after {
    background: url("/img/tab/07.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: bottom right;
}

#tabs-08 .inner-content:after, #collapse-8 .inner-content:after {
    background: url("/img/tab/08.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: bottom right;
}

h4.tab-title {
    position: relative;
    max-width: 400px;
}

h4.tab-title:after {
    content: "";
    width: 100px;
    height: 5px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #b64ec3;
    border-radius: 10px;
    transition: all 0.5s cubic-bezier(0.78, -0.58, 0.14, 1.53);
}

.inner-content:hover h4.tab-title:after {
    width: 150px;
}

.inner-content img {
    filter: drop-shadow(5px 4px 2px #b64ec335);
    -webkit-filter: drop-shadow(5px 4px 2px #b64ec335);
}

.tab-content-area, #accordion-b .inner-content {
    min-height: 735px;
    position: relative;
}

.tab-content-area>div {
    height: 670px;
}

.tab-content-area:before, #accordion-b .inner-content:before, .intro-text-area:before {
    content: "";
    width: 100%;
    height: 200px;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url(/img/pattern-bg-01.2.svg);
    opacity: 0.1;
    background-position: 100% 30%;
    background-repeat: no-repeat;
    background-size: 60%;
}
.intro-text-area{
    position: relative;
}
/* tab end */
/* mobile menu */


.animated-icon2{
width: 30px;
height: 20px;
position: relative;
margin: 0px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
cursor: pointer;
}

.animated-icon2 span {
display: block;
position: absolute;
height: 3px;
width: 100%;
border-radius: 9px;
opacity: 1;
left: 0;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .25s ease-in-out;
-moz-transition: .25s ease-in-out;
-o-transition: .25s ease-in-out;
transition: .25s ease-in-out;
overflow: hidden;
}


.animated-icon2 span {
background: var(--primary);
}

.animated-icon2 span:nth-child(1) {
    top: 0px;
    }
    
    .animated-icon2 span:nth-child(2),
    .animated-icon2 span:nth-child(3) {
    top: 10px;
    }
    
    .animated-icon2 span:nth-child(4) {
    top: 20px;
    }
    
    .animated-icon2.open span:nth-child(1) {
    top: 11px;
    width: 0%;
    left: 50%;
    }
    
    .animated-icon2.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    }
    
    .animated-icon2.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    }
    
    .animated-icon2.open span:nth-child(4) {
    top: 11px;
    width: 0%;
    left: 50%;
    }
    
/* mobile menu end */


/* swiper start */
.carousel-inner-area .swiper {
    width: 100%;
    height: 100%;
    padding: 15px 0 30px!important;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.department-info {
    cursor: pointer;
}

.diagnostic-s, .medicine-s {
    position: relative;
    z-index: 1;
}
.diagnostic-s:after {
    position: absolute;
    background: url(/img/icons/diagnostic.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center right;
    background-attachment: scroll;
    top: 0;
    right: 0;
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.15;
}
.medicine-s:after {
    position: absolute;
    background: url(/img/tab/07.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center right;
    background-attachment: scroll;
    top: 20px;
    right: 20px;
    content: '';
    width: 85%;
    height: 85%;
    z-index: -1;
    opacity: 0.15;
}

.theme-btn {
    box-shadow: 0px 1px 5px rgb(182 78 195 / 35%),
        0px 3px 6px rgb(182 78 195 / 50%);
}

.theme-btn:hover {
    box-shadow: 0px 1px 10px rgb(182 78 195 / 75%),
        0px 3px 6px rgb(182 78 195 / 85%);
}


.content-box {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: auto;
    right: 50%;
    text-align: left;
    transform: translateX(50%);
}

.swiper-slide .content-slide {width: 100%;height: 100%;}



.swiper-button-next:after, .swiper-button-prev:after {
    font-family: swiper-icons;
    font-size: 16px;
    text-transform: none!important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
}
.content-box .left-part {
background: inherit;
position: relative;
z-index: 1;
padding: 20px;
overflow: hidden;
border-radius: 5px;
}
.content-box .left-part:before {
content: "";
position: absolute;
width: 100%;
height: 100%;
background: #ffffffdb;
z-index: -1;
left: 0;
top: 0;
border-radius: 5px;
filter: blur(20px);
box-shadow: inset 0 0 0 200px rgba(255,255,255,0.05);
}

/* swiper end */
/* section title center start */
.section-title.center-title h3,
.section-title.center-title h1 {
    display: inline-flex;
}

.section-title.center-title h3:after,
.section-title.center-title h1:after {
    left: 50%;
    transform: translateX(-50%) scaleX(0.5);
    width: 150px;
}

section:hover .section-title.center-title h3:after,
section:hover .section-title.center-title h1:after {
    width: 250px;
}

.strip-top {
    position: relative;
    overflow: hidden;
}

.strip-top::before {
    content: "";
    width: 100%;
    height: 250px;
    position: absolute;
    left: 0;
    top: -10px;
    background: url("/img/strip-top.svg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}

/* section title center end */
/* drBooking */
.bg-icon {
    display: flex;
    justify-content: flex-end;
}

/* drBooking end */
/* fb-info */
.blob-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
}

.blob-bottom svg {
    height: 256px;
    width: 600px;
}

.facebook-page-info:before {
    content: "";
    width: 100%;
    height: 40%;
    position: absolute;
    left: 0;
    top: -2px;
    background: url(/img/blob-t.svg);
    background-repeat: no-repeat;
    background-size: contain;
    filter: drop-shadow(2px 4px 6px #22233333);
    z-index: 1;
    background-position: top left;
}

.facebook-page-info:after {
    content: "";
    position: absolute;
    right: -2px;
    bottom: -2px;
    width: 100%;
    height: 40%;
    z-index: 1;
    background: url(/img/blob-b.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
    background-attachment: scroll;
    filter: drop-shadow(2px 4px 6px black);
}

.facebook-page-info {
    overflow: hidden;
    background: url("/img/fb-background.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.fb-info-area {
    position: relative;
    z-index: 2;
}

/* fb-info end */
.play-btn img {
    filter: drop-shadow(2px 4px 6px #33333335);
    transition: 250ms;
}

.play-btn a:hover img {
    filter: drop-shadow(2px 4px 6px #33333365);
}

.fb-info-area img {
    filter: drop-shadow(2px 4px 6px #33333345);    
    padding: 20px;
    border-radius: 6px;
    background-color: #4267B2;
}

.arrow-btn:hover svg {
    animation: arrow-r 1s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite;
}

.arrow-btn-back:hover svg {
    animation: arrow-l 1s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite;
}

@keyframes arrow-r {
    0% {
        left: 8px;
    }

    50% {
        left: 13px;
    }

    100% {
        left: 8px;
    }
}

@keyframes arrow-l {
    0% {
        right: 8px;
    }

    50% {
        right: 13px;
    }

    100% {
        right: 8px;
    }
}

/* contact */
.contact-title {
    position: relative;
    padding-bottom: 5px;
    display: inline-block;
}

.contact-title:after {
    content: "";
    position: absolute;
    height: 3px;
    background: #b64ec3;
    bottom: 0;
    left: 0;
    width: 0%;
    opacity: 0;
    transition: 250ms;
}

.info-box:hover .contact-title:after {
    width: 100%;
    opacity: 1;
}

.info-box:hover .icon-area svg path {
    fill: #577ac2;
}
.address.info-box:hover .icon-area svg path {
    fill: #e92f35;
}
.contact-no.info-box:hover .icon-area svg path {
    fill: #40ac51;
}
.address .contact-title:after {
    background: #e92f35;
}
.contact-no .contact-title:after {
    background: #40ac51;
}
.email-address .contact-title:after {
    background: #577ac2;
}
.info-box .icon-area svg path {
    transition: 250ms;
}

.contact-us {
    position: relative;
    /* background-image: url(/img/pattern-bg-02.svg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: top left;
}

/* contact end */
.fb-info-area h5 {
    text-shadow: 1px 3px 6px #3b3b3b6e;
}

.d-detail .title {
    position: relative;
    margin-bottom: 15px;
    display: inline-block;
}

.d-detail .title:after {
    content: "";
    position: absolute;
    width: 35%;
    height: 3px;
    background: var(--primary);
    bottom: 0;
    left: 0;
    transition: 250ms;
}

.single-department:hover .d-detail .title:after {
    width: 100%;
}

.qr-code {
    display: inline-block;
    text-align: center;
}

/* doctor profile */
.doc-title {
    position: relative;
    padding-bottom: 5px;
    margin-bottom: 8px;
}

.doc-title:after {
    content: "";
    position: absolute;
    width: 80px;
    height: 3px;
    left: 0;
    bottom: 0;
    background: var(--primary);
    border-radius: 6px;
}

.doc-r {
    border-left: 1px solid rgb(182 78 195 / 75%);
    padding-left: 30px;
}

/* doctor profile end */
/* go to top start */

.back-to-top {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    border-radius: 100%;
    background: var(--primary);
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    opacity: 100%;
    transition: opacity 0.5s;
}

.back-to-top:hover {
    opacity: 60%;
}

.hide {
    opacity: 0%;
}

.back-to-top-icon {
    width: 1rem;
    height: 1rem;
    color: #ffffff;
}

.progress-bar {
    height: 2px;
    background: rgb(182 78 195 / 50%);
    position: fixed;
    top: 0;
    left: 0;
}

/* go to top end */

.footer-link li a {
    left: 0;
    position: relative;
    transition: 300ms;
}

.footer-link li:hover a {
    left: 10px;
    color: var(--primary);
}

@media only screen and (max-width: 1023.99px) {
    #nav ul li {
        margin: 10px 0;
    }

    #nav ul {
        padding-top: 20px;
    }
    .intro-text-area:before{
        display: none;
    }
}

@media only screen and (max-width: 768px) {

    .facebook-page-info:after,
    .facebook-page-info:before {
        display: none;
    }

    .play-btn {
        margin-bottom: 60px;
    }

    .department-carousel {
        padding-top: 60px;
        padding-bottom: 80px;
    }

    .tab-content-area {
        min-height: unset;
    }

    .tab-content-area>div {
        height: unset;
    }

    .doc-r {
        border-left: none;
        padding-left: 0;
    }

    .doc-r {
        width: 100%;
    }

    .doc-title:after {
        left: 50%;
        transform: translateX(-50%);
    }
}